// color 
$color-orange-0: #FF993C;
$color-white-0: white;
$color-black-0: #1E0D03;


// background-color 
$bg-white: white;
$bg-orange-0: #FF993C;
$bg-orange-1: #FFB800;
$bg-pink-0: #F9F6F4;




//fontSize
$fs-16: 16px;
$fs-18: 18px;
$fs-24: 24px;
//line height
$lh-26: 26px;
$lh-30: 30px;






// padding
$pd-11: 11px;
$pd-15: 15px;
$pd-16: 16px;
$pd-24: 24px;




// border & border-radius
$border-0: 1px solid #FF993C;
$border-radius-8: 8px;
$border-radius-16: 16px;




//font-weight
$fw-500: 500;
$fw-600: 600;
$fw-bold: bold;

// height 
$height-0: 40px;
//width
$width-0: 132px;


