
/* custom pagination  */
.ant-pagination-item.ant-pagination-item-active{
    border-color: #FF993C;
}
.ant-pagination-item.ant-pagination-item-active a {
    color: #FF993C;
}
.ant-pagination-item:hover, .ant-pagination-item a:hover {
    color: #FF993C !important;
    border-color: #FF993C !important;
}

/* custom  filter  */
#quanLyVe .filter__ticket .anticon svg {
    height: 18px;
    width: 20px;
    color: #FF993C;
}
.filter__ticket{
    margin-right: 5px;
}
.filter__ticket, .export__file{
    color: #FF993C;
    border: 1px solid  #FF993C;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    padding: 11px 16px;
    border-radius: 6px;
    cursor: pointer;
}


/* style : loai goi  */
.loaigoi p {
    cursor: pointer;
    position: relative;
    transition: all .5s;
}
.loaigoi p::before{
    content: '';
    display: inline-block;
    position: absolute;
    width:  100%;
    height: 2.5px;
    background-color: transparent ;
    bottom: 0;
    transition: all .5s;
}
.loaigoi .loaigoi_active{
    color: #FF993C;
}
.loaigoi .loaigoi_active::before{
    background-color: #FF993C ;
}
