@tailwind base;
@tailwind components;
@tailwind utilities;
html{
  font-size: 16px;
}
body {

  font-family: Montserrat !important;
  font-style: normal !important;
  font-weight: 500 !important;
  line-height: 26px !important;
  letter-spacing: 0.015em !important;
  color: #1E0D03 !important;
  font-size: 18px !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
