@import '../Helpers/variables.scss';
.datepicker{
    width: 120px;
    position: relative;
   .date-picker-control{
        width: 100%;
        position: relative;
   }
        .input-base{
            padding: $pd-10 - 3;
            padding-right: $pd-24;
            border-radius: $border-radius-8;
        }
        .icon-calendar{
            position: absolute;
            top: 50%;
            right: 5px;
            transform: translateY(-50%);
        }
}   